@font-face {
	font-family: BOOB;
	src: url("./assets/font/HeiseiMinStd-W5-AlphaNum.woff2") format("woff2"),
		url("./assets/font/HeiseiMinStd-W5-AlphaNum.woff") format("woff");
}

.App {
	text-align: left;
	color: white;
}

.App-logo {
	width: min(50vw, 300px);
	opacity: 1;
	margin: 75px 50px 50px 50px;
}

.tt {
	color: rgb(199, 199, 199);
	font-size: 40px;
}

.Greeting {
	font-size: 18px;
	line-height: 36px;
	width: 80%;
	margin: 0 50px;
	font-family: Geneva, Tahoma, sans-serif;
}

@media screen and (min-width: 900px) {
	.App-logo {
		margin: 120px 0px 20px 150px;
	}

	.Greeting {
		font-size: 18px;
		margin: 0 200px;
	}
}
